.modal {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__content {
  background-color: transparent;
}

.modal__close--item {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/icongray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.modal__footer {
  position: relative;
  padding: 20px 32px;
}

.modal__content.modal__content--image {
  width: 498px;
  height: auto;
  border-radius: 16px;
  padding: 0;
}

.modal_opened {
  visibility: visible;
}

.modal__image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.modal__caption {
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
  width: 36px;
  height: 24px;
  top: 624px;
  left: 503px;
  margin: 20px 32px 0;
  white-space: nowrap;
}

.modal__weather {
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
  width: 115px;
  height: 24px;
  top: 660px;
  left: 503px;
  margin: 12px 32px 12px;
  white-space: nowrap;
}

.modal__delete-button {
  position: absolute;
  left: 345px;
  bottom: 68px;
  color: #ff4d00;
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
  white-space: nowrap;
}

.modal__content.modal__content--delete {
  width: 670px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__item--close {
  width: 360px;
  margin: 8px 0;
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.modal__cancel-button {
  display: flex;
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 24px;
  border: none;
}

.modal__cancel-button.modal__cancel-button--delete {
  color: #ff4d00;
}

.modal__close:hover {
  cursor: pointer;
}
